
@{
    ViewBag.Title = "Incomming";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="Incoming">
    <div class="container">
        <div class="row">
            <div data-aos="fade-right" class="col-lg-6">
                <h5>We are keen of Incoming services</h5>
                <h2>
                    Incoming Department
                </h2>
                <p>
                    Our team consists of multilingual and dynamic professionals, having extensive experience and knowledge of
                    all aspects of tourism and an in-depth understanding of the destination of Baku, Azerbaijan.
                </p>
                <ul>
                    <li>
                        Special interest group tours (history, culinary,agricultural, sports, wellness, single holidays,
                        religious & spiritual, nature, walking, hiking, golf etc…)
                    </li>
                    <li>
                        Corporate meetings & incentives conferences (inclu- ding audiovisual & technical equipment sourcing,
                        banqueting, venue decor etc.)
                    </li>
                    <li>
                        The event management team building activities product launches & presentations, cocktails, gala dinners,
                        themed events
                    </li>
                    <li>Providing International food catering services</li>
                    <li>Support of film making and providing equipment and shooting permission arrangement</li>
                    <li>VIP services and assistance at the airport</li>
                    <li>Provide Folklore show for tourists</li>
                    <li>Luxury Wedding arrangements</li>
                    <li>Professional Congress Organizer-International Music Festival, Forums, Special Events</li>
                    <li>Hunting Tours, Fishing, Shooting</li>
                    <li>Golf Tours</li>
                    <li>VIP Parties</li>
                    <li>Immigration and urgent visa support</li>
                    <li>E-visa support</li>
                    <li>24/7 Assistance</li>
                    <li>VIP Airport Assistance and Fast track service</li>
                    <li>Hotel bookings</li>
                    <li>All Transfer arrangement</li>
                    <li>Multilingual guide service</li>
                    <li>Tailored tours</li>
                    <li>Boat trips</li>
                    <li>Meet & Greet services</li>
                    <li>Entrances to museums and exhibitions</li>
                    <li>Tickets for theatres, musicals, festivals and sporting events</li>
                    <li>VIP tickets, special access and private viewings</li>
                    <li>
                        Themed Sightseeing Tours (Our tour itineraries can focus on a wide range of special or general interests
                        including culture, ethnography, gastronomy and wellness).
                    </li>
                    <li>Special transport arrangements including vintage cars and buses, horse-drawn carriages etc.</li>
                    <li>Comfortable Baku-Tbilisi transfer services</li>
                </ul>
            </div>
            <div data-aos="fade-left" class="col-lg-6">
                <div data-aos="fade-left" id="Incomings">
                    <div class="discover-all">
                        <div class="discover-box">
                            <img class="img-fluid" src="image/incoming1.jpg" alt="">
                        </div>
                        <div class="discover-box">
                            <img class="img-fluid" src="image/incoming2.jpg" alt="">
                        </div>
                        <div class="discover-box">
                            <img class="img-fluid" src="image/incoming3.jpg" alt="">
                        </div>
                        <div class="discover-box">
                            <img class="img-fluid" src="image/incoming4.jpg" alt="">
                        </div>
                        <div class="discover-box">
                            <img class="img-fluid" src="image/incoming5.jpg" alt="">
                        </div>
                        <div class="discover-box">
                            <img class="img-fluid" src="image/incoming6.jpg" alt="">
                        </div>
                        <div class="discover-box">
                            <img class="img-fluid" src="image/incoming7.jpg" alt="">
                        </div>
                        <div class="discover-box">
                            <img class="img-fluid" src="image/incoming8.jpg" alt="">
                        </div>
                        <div class="discover-box">
                            <img class="img-fluid" src="image/incoming9.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div id="IncomingSlider">
                    <div data-aos="fade-left" class="discover-all">
                        <div class="discover-box">
                            <img class="img-fluid" src="image/incoming19.jpg" alt="">
                        </div>
                        <div class="discover-box">
                            <img class="img-fluid" src="image/incoming10.jpg" alt="">
                        </div>
                        <div class="discover-box">
                            <img class="img-fluid" src="image/incoming12.jpg" alt="">
                        </div>
                        <div class="discover-box">
                            <img class="img-fluid" src="image/incoming13.jpg" alt="">
                        </div>

                        <div class="discover-box">
                            <img class="img-fluid" src="image/incoming15.jpg" alt="">
                        </div>
                        <div class="discover-box">
                            <img class="img-fluid" src="image/incoming16.jpg" alt="">
                        </div>
                        <div class="discover-box">
                            <img class="img-fluid" src="image/incoming17.jpg" alt="">
                        </div>
                        <div class="discover-box">
                            <img class="img-fluid" src="image/incoming18.jpg" alt="">
                        </div>
                        <div class="discover-box">
                            <img class="img-fluid" src="image/incoming11.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div id="IncomingSlider">
                    <div data-aos="fade-left" class="discover-all">
                        <div class="discover-box">
                            <img class="img-fluid" src="image/incoming20.jpg" alt="">
                        </div>
                        <div class="discover-box">
                            <img class="img-fluid" src="image/incoming21.jpg" alt="">
                        </div>
                        <div class="discover-box">
                            <img class="img-fluid" src="image/incoming22.jpg" alt="">
                        </div>
                        <div class="discover-box">
                            <img class="img-fluid" src="image/incoming23.jpg" alt="">
                        </div>
                        <div class="discover-box">
                            <img class="img-fluid" src="image/incoming24.jpg" alt="">
                        </div>
                        <div class="discover-box">
                            <img class="img-fluid" src="image/incoming14.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

